name: Maven Release

on:
  release:
    types: [created]

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Cache Maven packages
        uses: actions/cache/restore@v4
        with:
          path: ~/.m2
          key: m2-cache
          restore-keys: m2-cache

      - name: Cache Pip Packages
        uses: actions/cache/restore@v4
        with:
          path: ~/.cache/pip
          key: pip-cache
          restore-keys: pip-cache

      - name: Set outputs
        id: version
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          CURRENT_VERSION="${TAG#v}"

          echo "TAG=$TAG" >> "$GITHUB_ENV"
          echo "CURRENT_VERSION=$CURRENT_VERSION" >> "$GITHUB_ENV"

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: |
            8
            16
            17

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: install requests
        run: pip install -r requirements.txt

      - name: Build necessary remapped spigot libraries into the .m2 cache
        run: python .github/scripts/build_remapped_jars.py

      - name: Deploy the jar file
        run: mvn --batch-mode -Drevision=${CURRENT_VERSION} clean deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Add jar file to release
        run: gh release upload "${TAG}" "target/dualwield-${CURRENT_VERSION}.jar" --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
